<div class="block-header">
    <h2>Contact Us</h2>
</div>
<div class="row" *ngIf="config">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header ">
                <h2>{{config.year}} Bunker Hills Men’s Golf Club</h2>
            </div>
            <div class="card-body card-padding">
                <p>The Board of Directors of the Men’s Golf Club and the Golf Staff at Bunker Hills would like to take
                    this
                    opportunity to welcome you. Please contact any of the Officers, Directors or Pro Shop Staff if you
                    have any questions.</p>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="contact">
    <div class="col-md-6">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header ">
                    <h2>Officers</h2>
                </div>
                <div class="card-body card-padding">
                    <div class="condense">
                        <p><strong>President</strong></p>
                        <p>
                            <span>{{contact.presidentName}}</span><span class="m-l-10"><a href="tel:{{contact.presidentPhone}}">{{contact.presidentPhone}}</a></span><br />
                            <span><a href="mailto:{{contact.presidentEmail}}">{{contact.presidentEmail}}</a></span>
                        </p>
                        <p><strong>Vice President</strong></p>
                        <p>
                            <span>{{contact.vicePresidentName}}</span><span class="m-l-10"><a href="tel:{{contact.vicePresidentPhone}}">{{contact.vicePresidentPhone}}</a></span><br />
                            <span><a href="mailto:{{contact.vicePresidentEmail}}">{{contact.vicePresidentEmail}}</a></span>
                        </p>
                        <p><strong>Secretary</strong></p>
                        <p>
                            <span>{{contact.secretaryName}}</span><span class="m-l-10"><a href="tel:{{contact.secretaryPhone}}">{{contact.secretaryPhone}}</a></span><br />
                            <span><a href="mailto:{{contact.secretaryEmail}}">{{contact.secretaryEmail}}</a></span>
                        </p>
                        <p><strong>Treasurer</strong></p>
                        <p>
                            <span>{{contact.treasurerName}}</span><span class="m-l-10"><a href="tel:{{contact.treasurerPhone}}">{{contact.treasurerPhone}}</a></span><br />
                            <span><a href="mailto:{{contact.treasurerEmail}}">{{contact.treasurerEmail}}</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header ">
                    <h2>Directors</h2>
                </div>
                <div class="card-body card-padding">
                    <div [markdown]="contact.directorsText"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header ">
                    <h2>Send a Message
                        <small>All fields required</small>
                    </h2>
                </div>
                <div class="card-body card-padding">
                    <form name="contactForm" #contactForm="ngForm"
                          novalidate>
                        <div class="form-group" [class.has-error]="contactForm.submitted && !fullName.valid">
                            <div class="controls ">
                                <input class="form-control fc-alt" maxlength="100" placeholder="Full Name" type="text" required
                                       name="fullName" [(ngModel)]="message.full_name" #fullName="ngModel">
                                <div *ngIf="contactForm.submitted && !fullName.valid" class="help-block">Your full name is required</div>
                            </div>
                        </div>
                        <div class="form-group" [class.has-error]="contactForm.submitted && !emailAddress.valid">
                            <div class="controls ">
                                <input class="form-control" maxlength="254" placeholder="Email Address" type="email" required
                                       name="emailAddress" [(ngModel)]="message.email" #emailAddress="ngModel">
                                <div *ngIf="contactForm.submitted && !emailAddress.valid" class="help-block">Your email address is required</div>
                            </div>
                        </div>
                        <div class="form-group" [class.has-error]="contactForm.submitted && !messageText.valid">
                            <div class="controls ">
                                <label>Message</label>
                            <textarea class="form-control fc-alt" cols="40" rows="10" required
                                      name="messaageText" [(ngModel)]="message.message_text" #messageText="ngModel">
                            </textarea>
                                <div *ngIf="contactForm.submitted && !messageText.valid" class="help-block">You must have something to say?</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button [disabled]="loading" (click)="sendMessage(contactForm)" class="btn btn-primary">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h2>Committees
                    <small>* denotes chairman</small>
                </h2>
            </div>
            <div class="card-body card-padding">
                <div [markdown]="contact.committeesText" class="condense"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card">
            <div class="card-header ">
                <h2>Bunker Hills Staff</h2>
            </div>
            <div class="card-body card-padding">
                <div [markdown]="contact.staffText" class="condense"></div>
                <h5>Tee Time Reservations</h5>
                <p>Tee time reservations can be made by Patron Card holders up to five days in advance of the day of
                    play.
                    Contact the Pro Shop (<a href="tel:763-755-4141">763-755-4141</a>) for reservations or book online
                    <a target="_blank" href="https://bookit.activegolf.com/book-bunker-hills-gc-tee-times/1114">here</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
</div>
