<div class="block-header">
    <h2>Member Directory</h2>
</div>
<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="card">
            <div class="card-header">
                <h2>Search</h2>
            </div>
            <div class="card-body card-padding">
                <p>
                    The Bunker Hills Men's Club maintains an active directory/listing of its members. This list contains names,
                    phone numbers, and email addresses. It is the policy of our club that the directory is strictly
                    limited for internal use related to men's club events and functions. It is not to be used externally,
                    copied, or sold for non-men's club activities.
                </p>
                <p>
                    Violation of this policy will result in disciplinary action determined by the BHMC Board, up to
                    and including expulsion.
                </p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Member name" [(ngModel)]="search.text"
                           (keyup)="doFilter(search.text)"/>
                    <span class="input-group-addon last"><i class="zmdi zmdi-search"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="card">
            <div class="card-header">
                <h2>Results</h2>
            </div>
            <div class="card-body card-padding">
                <p *ngFor="let m of results">
                    <a (click)="toggleFriendship(m)" class="friend-star">
                        <i class="zmdi zmdi-hc-lg m-r-10"
                           [class.friend]="m.isFriend" [class.zmdi-star]="m.isFriend"
                           [class.zmdi-star-outline]="!m.isFriend"></i>
                    </a>
                    <span>{{ m.name }}</span>
                    <span class="m-l-20"><a [href]="'mailto:' + m.email">{{ m.email }}</a></span><br *ngIf="m.phoneNumber" />
                    <span class="m-l-20"><a [href]="'tel:' + m.phoneNumber">{{ m.phoneNumber }}</a></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="card">
            <div class="card-header">
                <h2>My Friends</h2>
            </div>
            <div class="card-body card-padding">
                <p *ngFor="let f of friends">
                    <span>{{ f.name }}</span>
                    <span class="m-l-20"><a [href]="'mailto:' + f.email">{{ f.email }}</a></span><br *ngIf="f.phoneNumber" />
                    <span class="m-l-20"><a [href]="'tel:' + f.phoneNumber">{{ f.phoneNumber }}</a></span>
                </p>
            </div>
        </div>
    </div>
</div>
